---
# Plotting
showcutoutplot: False
showfit: False
show_stack_fit: False

# use this flag to not mask anything
# we need this if masking one object would also mask the other
donotmask: False

# Minimum number of pixels in a row above 3-sigma to fit a profile
# These have to be contiguous
# i.e., these are sigma_thresh above the background
numpix_fit_thresh: 5

# Sigma threshold for the pixels to be considered
sigma_thresh: 3.0

# max iterations for fitting
# max_iter: 10

# user guess for starting row at which real signal
# for the host galaxy starts
start_row: 30

# Pads for masking SN and host
snmaskpad: 4

# Cutout size
# The y #s seem backwards but it is this way because
# you're count rows from top to bottom. The cutout is
# constructed by doing data[row - cs_y_lo: row + cs_y_hi, ....]
# where row is the y loc of the SN.
cutoutsize_y_lo: 200
cutoutsize_y_hi: 100
cutoutsize_x: 100

spec_img_exptime: 900  # seconds

# Smooth before fitting
applysmoothingperrow: False  # smooth data on each row
applystack: True  # stack the number of rows given below like a moving window filter
stackrows: 3

# Paths for data
paths:
  home: '/Users/baj'
  prismdir: '/Documents/Roman/PIT/prism/'
  hostsubdir: 'hostlight_subtraction/'
  datadir: 'simdata_prism_galsn/nov2025_test/'
  srccodesdir: 'roman-prism-hostsub/src/'
  utilsdir: 'roman-prism-hostsub/utils/'

# File names
# Provide a list even if there is only one name
# We assume that the host and SN input spectra are the same
# for the entire file name list provided by the user.
fname: ['Roman_TDS_simple_model_SNPrism_34649_14.fits']

# Extension numbers in FITS file
sciextnum: 1

# SExtractor related
cat_filename: 'prismhostsub_cat.txt'
sextractor_config_fname: 'romanprismhostsub_sextractor_config.txt'

# Coordinates
# SN and host
snra: 7.50760768
sndec: -44.82525718
hostra: 7.507598711
hostdec: -44.82524952

# Input spectra
host_spec_fname: 'lfgal.txt'
sn_spec_fname: 'lfnana.txt'

# For 1D extraction
# in pix
# This is usually just for the SN
obj_one_sided_width: 4

# starting and ending wavelengths for x1d
start_wav: 0.7
end_wav: 1.8

# Save the final SN residual cutout as a fits file
# this is a diagnostic keyword. Only set to True if
# you need to check the SN cutout in DS9.
savesncutout: True

# Runtime config
verbose: True
