---
# Plotting
showcutoutplot: False
showfit: False
show_stack_fit: False

# use this flag to not mask anything
# we need this if masking one object would also mask the other
donotmask: False

# Minimum number of pixels in a row above 3-sigma to fit a profile
# These have to be contiguous
# i.e., these are sigma_thresh above the background
numpix_fit_thresh: 5

# Sigma threshold for the pixels to be considered
sigma_thresh: 3.0

# max iterations for fitting
# max_iter: 10

# user guess for starting row at which real signal
# for the host galaxy starts
start_row: 50

# Pads for masking SN and host
snmaskpad: 4

# Cutout size
# The y #s seem backwards but it is this way because
# you're count rows from top to bottom. The cutout is
# constructed by doing data[row - cs_y_lo: row + cs_y_hi, ....]
# where row is the y loc of the SN.
cutoutsize_y_lo: 200
cutoutsize_y_hi: 100
cutoutsize_x: 100

spec_img_exptime: 900  # seconds

# Smooth before fitting
applysmoothingperrow: False  # smooth data on each row
applystack: True  # stack the number of rows given below like a moving window filter
stackrows: 6

# File name
# Provide a list even if there is only one name
# We assume that the host and SN input spectra are the same
# for the entire file name list provided by the user.
fname: ['test_2d_multipleGalaxies_WFI_WFI01_FULL_prism_rollAngle045.fits']
# 'test_2d_multipleGalaxies_WFI_WFI01_FULL_prism_rollAngle065.fits',
# 'test_2d_multipleGalaxies_WFI_WFI01_FULL_prism_rollAngle085.fits',
# 'test_2d_multipleGalaxies_WFI_WFI01_FULL_prism_rollAngle105.fits']

# The name of the direct image on which we will run our
# intermediate SExtractor step to detect contaminating galaxies.
dirimgfname: 'test_2d_multipleGalaxies_WFI_WFI01_FULL_F106_rollAngle045.fits'

# Extension numbers in FITS file
sciextnum: 1

# SExtractor related
cat_filename: 'prismhostsub_cat.txt'
sextractor_config_fname: 'romanprismhostsub_sextractor_config.txt'

# Coordinates
# SN and host
snra: 4.082905535
sndec: -48.42384403
hostra: 4.083448424
hostdec: -48.42376935

# Input spectra
host_spec_fname: 'lfgal.txt'
sn_spec_fname: 'lfnana.txt'

# For 1D extraction
# This is usually just for the SN
obj_one_sided_width: 2

# starting and ending wavelengths for x1d
start_wav: 0.7
end_wav: 1.8

# Save the final SN residual cutout as a fits file
# this is a diagnostic keyword. Only set to True if
# you need to check the SN cutout in DS9.
savesncutout: True

# Runtime config
verbose: True
